# Core dependencies
pandas
numpy

# Visualization
matplotlib
seaborn

# Natural Language Processing
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
contractions
nltk

# Machine Learning
scikit-learn
wordcloud

# Utilities
joblib
tqdm
streamlit
